#set($entityName = ${table.capitalizedCamelCaseNonModuleName})
#set($entityPackageName = $StringUtils.replace(${packageName}, "repository", "entity"))
#set($className = $entityName + "Repository")
#if($table.primaryKeyColumns.size() > 1)
	#set($primaryKeyClassName = $entityName + "." + $entityName + "Pk")
#else
	#set($primaryKeyClassName = $table.uniquePrimaryKeyColumn.javaType.importedAwareName)
#end
package ${packageName};

import org.springframework.stereotype.Repository;
import aiib.rmp.jpa.JpaRepositoryExtension;
import ${entityPackageName}.${entityName};

@Repository
public interface ${className} extends JpaRepositoryExtension<$entityName, $primaryKeyClassName> {

}
